<div class="main-users-index">
	<div class="container">
        <h1>User Index</h1>
	    <% @users.each do |user| %>
	     <div class="posts-index-item">
	     <img src="<%= "/user_images/#{user.image_name}" %>">
	     <%= link_to user.name, user_path(user)%>

	     </div>
	    <% end %>
	</div>
</div> 