

<div class="main top-main">
	<div class="top-message">
		<h2>Connect each other regardless of baundaries</h2>
		<p>Tweet something you want to tell</p>
		<%= link_to "About us", about_path %>

	</div>
</div>